<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Title</title>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('a#mine').on('click', function() {
                fetch('/mine')
                  .then(res => res.json())
                  .then(res => {
                    // $("#showresults").html(res.message);
                    console.log(res)
                    document.querySelector("#showresults").innerHTML = res.message;
                  });

              });
              fetch('/chain')
                  .then(res => res.json())
                  .then(res => {
                    document.querySelector("#nrBlocks").innerHTML = res.length;          
                  });
            });
    </script>
  </head>  
<body> 
    <div class="container">
        <div class="card text-center">
            <div class="card-header">

            </div>
            <div class="row">
                <div class="card-body alert alert-success">
                    <h5 class="card-title">Total </h5>
                    <p class="card-text">You have  <span id="nrBlocks"></span> blocks</p>
                  </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                  <div class="card alert alert-warning ">
                    <div class="card-body">
                      <h5 class="card-title">MINE</h5>
                      <div id="showresults">Start</div>
                      <a class="btn btn-primary" id="mine"><button class='btn btn-default'>Test</button></a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <form action="/transactions/new" method="post">
                        <div class="form-group">
                        <label>Amount</label><br>
                        <input type="text" name="amount"></input>
                        </div>

                        <div class="form-group">
                        <label>Recipient</label><br>
                        <input type="text" name="recipient"></input>
                        </div>
                        <div class="form-group">
                        <label>Sender</label><br>
                        <input type="text" name="sender"></input>
                        </div>
                        <div class="form-group">
                        <input type="submit" value="Send transactions"></input>
                        </form>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>

    </div>
</body>  
</html>  